.section {
    width: 100%;
    height: 760px;
    background-color: #CFC5A5;
}

.signup-page {
    color: white;
    text-align: center;
    padding-top: 12%;
}

.signup-page input {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.signup-page label{
    margin-top: 1%;
}

.signup-page button {
    width: 20%;
    height: 40px;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    background-color: #A0937D;
    color: white;
}

.signup-page button:hover {
    background-color: #897e6a;
    cursor: pointer;
}