<div class="add-user">
<h1>Add user</h1>
    <p class="error">{{error}}</p>
    <form action="/admin/adduser-submit" method="post">
        <label>User name</label>
        <br>
        <input type="text" name="name">
        <br>
        <label>Email</label>
        <br>
        <input type="email" name="email">
        <br>
        <label>Password</label>
        <br>
        <input type="text" name="password">
        <br>
        <button class="btn btn-success">Add user</button>
    </form>
</div>