<section>
    <div class="container">
        <div class="page">
            <h1>Login</h1>
            <p>Admin</p>
            <form action="/admin/admin-login" method="post">
                <p class="error">{{error}}</p>
                <label>Admin ID</label>
                <br>
                <input type="tel" name="id">
                <br>
                <label>Password</label>
                <br>
                <input type="password" name="password">
                <br>
                <Button type="submit">Submit</Button>
            </form>
        </div>
    </div>
</section>