<div>
    <div class="row">
        <div class="section">
            <div class="login-page">
                <p>Admin</p>
                <h1>Login</h1>
                <p class="error">{{error}}</p>
                <form action="/admin/admin-login" method="post">
                    <label>Admin ID</label>
                    <br>
                    <input type="text" name="id">
                    <br>
                    <label>Password</label>
                    <br>
                    <input type="password" name="password">
                    <br>
                    <Button type="submit">Submit</Button>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>