<div>
    <div class="row">
        <div class="section">
            <div class="login-page">
                <p>Admin</p>
                <h1>Login</h1>
                <form action="">
                    <label>Admin ID</label>
                    <br>
                    <input type="email" name="password">
                    <br>
                    <label>Password</label>
                    <br>
                    <input type="password" name="password">
                    <br>
                    <Button type="submit">Submit</Button>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>