<div class="admin-dashboard">
    <h3>Admin dashboard</h3>
    <a href="/admin/logout">
        <button class="btn btn-secondary">Logout</button></a>
    <a href="/admin/users"><button class="btn btn-secondary">All users</button></a>
</div>