<div class="user-list">
    <h1>Users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        {{#each response}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>
                <a href="/admin/edituser/{{this._id}}"><Button class="btn btn-warning">Edit</Button></a>
                <a href="/admin/deleteuser/{{this._id}}"><Button class="btn btn-danger">Delete</Button></a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>