

<div class="user-list">
    <div class="container">

    <h1>Users</h1>
    <table id="example" class="table hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each response}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>
                    <a href="/admin/edituser/{{this._id}}"><Button class="btn btn-warning">Edit</Button></a>
                    <a href="/admin/deleteuser/{{this._id}}"><Button class="btn btn-danger">Delete</Button></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
        
    </table>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            paging: false,
            info: false,    
        });
    });
</script>