<div>
    <div class="row">
        <div class="section">
            <div class="login-page">
                <h1>Login</h1>
                <form action="/login-submit" method="post">
                    <p class="error">{{error}}</p>
                    <label>Email</label>
                    <br>
                    <input type="email" name="email">
                    <br>
                    <label>Password</label>
                    <br>
                    <input type="password" name="password">
                    <br>
                    <Button type="submit">Submit</Button>
                    <br>
                    <a href="/signup">Create an account</a>
                </form>
            </div>
        </div>
    </div>
</div>