<div>
    <div class="row">
        <div class="section">
            <div class="signup-page">
                <h1>Signup</h1>
                <form action="/signup-submit" method="post">
                    <label>Email Id</label>
                    <br>
                    <input type="email" name="email">
                    <br>
                    <label>Phone</label>
                    <br>
                    <input type="tel" name="phone">
                    <br>
                    <label>Name</label>
                    <br>
                    <input type="text" name="name">
                    <br>
                    <label>Password</label>
                    <br>
                    <input type="password" name="password">
                    <br>
                    <Button type="submit">Submit</Button>
                </form>
            </div>
        </div>
    </div>
</div>